*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    padding: 1rem;
}
div.separador{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h3{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: chocolate;
    display: flex;
    justify-content: center;
}

div.texto{
    border: solid 5px #ee710a; 
    border-bottom: solid 5px 15px;
    height: 100%;
    margin-bottom: 20px;
    padding: 0 2rem;
}
img{
    max-width: 50vw;
    margin: 50px auto;
}

ol{
    margin: 15px 15px;
    font-size: 18px;
    padding: 6px;
}

li{
    padding: 0 10px;
    margin-bottom: 0.5rem;
    list-style-type: upper-roman;
}

p{
    text-align: center;
    margin: 0 6rem;
    padding: 10px 0 5px 0;
    font-size: 21px;
}